version: "3.9"

services:
  backend:
    container_name: django-backend
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True

  frontend:
    container_name: react-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
